@charset "utf-8";

@font-face 
{
  font-family:'Nanum Myeongjo';
  font-weight:400;
  src: url('font/NanumMyeongjo-Regular.eot');
  src: url('font/NanumMyeongjo-Regular.eot?#iefix') format('embedded-opentype'),
       url('font/NanumMyeongjo-Regular.woff2') format('woff2'),
       url('font/NanumMyeongjo-Regular.woff') format('woff'),
       url('font/NanumMyeongjo-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family:'Nanum Myeongjo';
  font-weight:bold;
  src: url('font/NanumMyeongjo-Bold.eot');
  src: url('font/NanumMyeongjo-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/NanumMyeongjo-Bold.woff2') format('woff2'),
       url('font/NanumMyeongjo-Bold.woff') format('woff'),
       url('font/NanumMyeongjo-Bold.ttf') format('truetype');
}

* {font-family:'Nanum Myeongjo';}

.text1 tbody tr:nth-last-child(1),
.text1 tbody tr:nth-last-child(2) {display:none;}